<server description="DSI Runtime">

    <featureManager>
        <feature>restConnector-2.0</feature>
        <feature>ssl-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>elasticCacheCatalog-1.0</feature>
        <feature>ia:iaRuntime-_DSI_VERSION_</feature>
        <feature>ia:iaDispatcher-_DSI_VERSION_</feature>
        <feature>ia:iaAnalytics-_DSI_VERSION_</feature>
        <feature>ia:iaHTTPGateway-_DSI_VERSION_</feature>
        <feature>ia:iaConnectivityInboundHTTP-_DSI_VERSION_</feature>
        <feature>ia:iaConnectivityOutboundHTTP-_DSI_VERSION_</feature>
        <feature>ia:iaDevelopment-_DSI_VERSION_</feature>
    </featureManager>

    <logging
        traceSpecification="com.ibm.ia.*=info:com.ibm.rules.*=info:*=info"
        maxFiles="10" />

    <httpEndpoint
        id="defaultHttpEndpoint"
        host="*"
        httpPort="${http.port}"
        httpsPort="${https.port}"/>

    <elasticCacheCatalog
        enableMBean="true" />

    <xioEndpoint />

    <elasticCache
        name="${ia.host}-${wlp.server.name}"
        enableMBean="true" />

    <gridApplication
        location="${server.config.dir}/grids" />

    <remoteFileAccess>
        <!-- solutionManager and connectivityManager remote deployment
             require remote write access to the server output directory -->
        <writeDir>${server.output.dir}</writeDir>
    </remoteFileAccess>

    <ssl id="defaultSSLConfig"
        keyStoreRef="defaultKeyStore"
        sslProtocol="TLSv1.2" />

    <keyStore
        id="defaultKeyStore"
        password="${ia.test.password}" />

    <httpSession securityIntegrationEnabled="false"/>

    <basicRegistry id="basic" realm="realm">
        <user name="${ia.test.user}" password="${ia.test.password}"/>
    </basicRegistry>

    <administrator-role>
        <user>${ia.test.user}</user>
    </administrator-role>

    <authorization-roles id="iaAuthorization">
        <security-role name="iaRESTWriter">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaRESTReader">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaHTTPGatewaySubmitter">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaSolutionDeveloper">
            <special-subject type="EVERYONE" />
        </security-role>
    </authorization-roles>

    <serverCommands
        startServerTimeout="120"
        stopServerTimeout="120" />

    <ia_runtime mementoDatabaseFormat="json"/>

    <include optional="true" location="${env.EXTENSION_TEMPLATE_PATH}"/>
    <include optional="true" location="persistence.${dsi.db.type}.xml"/>
</server>
